deploymentMode: SingleBinary

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1

  storage:
    type: filesystem


  useTestSchema: true

singleBinary:
  replicas: 1
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0
