apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: observability

resources:
  - namespace.yaml
  - grafana.ingress.yaml
  - api.servicemonitor.yaml
  - alerts.prometheusrule.yaml

configMapGenerator:
  - name: grafana-datasources
    files:
      - datasources/loki-datasource.yaml
    options:
      labels:
        grafana_datasource: "1"

  - name: grafana-dashboards-opsdesk-api
    files:
      - dashboards/api.dashboard.json
    options:
      labels:
        grafana_dashboard: "1"

  - name: grafana-dashboards-cluster
    files:
      - dashboards/cluster.dashboard.json
    options:
      labels:
        grafana_dashboard: "1"
